
{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <div class="image-item">
                <a href="{{ .Permalink }}" title="{{ .Title }}">
                    {{ $image := .Page.Resources.GetMatch .Params.image }}
                    {{ with $image }}
                        {{ $thumb := .Resize "400x400" }}
                        <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
                    {{ end }}
                </a>
                <!-- Title and summary below the image -->
                <div class="image-caption">
                    <h1 class="image-title">
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </h1>
                    {{ .Summary }}
                    <!-- <p class="image-summary">{{ .Summary }}</p> -->
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}