{{ define "main" }}

<h1>About</h1>

<div style="display: flex; width: 100%; box-sizing: border-box;">
    <!-- Left box for the image -->
    <div style="flex: 1; display: flex; justify-content: left; align-items: center;">
      <img src="https://wonjongbot.com/images/PeterLee.jpeg" style="width: 150px; margin-right: 10px">
    </div>
    
    <!-- Right box for the text -->
    <div style="flex: 4; justify-content: left; align-items: center;">
      <p style="margin: 0; text-align: left;">
        Welcome to my website! My name is Peter Lee (이원종: Wonjong Lee).
        <ul>
            <li> I am a rising junior at <span style="
                                        background: linear-gradient(to left, #0455A4,#0455A4, #FF5F05); 
                                        -webkit-background-clip: text; 
                                        -webkit-text-fill-color: transparent;
                                        ">
                University of Illinois</span>, majoring in Computer Engineering.<br/>
            <li> My focus is computer architecture and design verification. <!--<a href="about/">(more)</a>--> <br/>
            <li> Currently, I am serving in the Korean army as part of my mandatory service.
        </ul>
      </p>
    </div>
</div>

<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest projects</h1>

<div class="image-grid">
{{ with .Site.GetPage "/projects" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}